@model CapeMint_Project.Models.BookingViewModel

<h1>
    Booking  &#64 @ViewBag.Title
    <img src="~/Images/Hotels/@{@ViewBag.Title}_Logo.png" style="float:right;width:100px" />
</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form row">
        <hr />
        <h4>Booking Form</h4>

        <div class="col">
            <div class="form-group">
                @Html.Label("FName", "First Name", htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-md-10">
                    @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("LName", "Surname", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("LName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Initials", "Initials", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Initials", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("email", "E-mail address", htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-md-10">
                    @Html.Editor("email", new { htmlAttributes = new { @class = "form-control", type="email"} })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("idtype", "Id type", htmlAttributes: new { @class = "control-label col-auto", @id = "IdType" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.selectedIdType, new SelectList(Model.Id, "Id", "Name"), "Select ID Type", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("idnumber", "Id number", htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-md-10">
                    @Html.Editor("idnumber", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("birthday", "Date of Birth", htmlAttributes: new { @class = "control-label col-auto" })
                <div class="col-md-10">
                    @Html.Editor("birthday", new { htmlAttributes = new { @class = "form-control", type="date" } })
                </div>
            </div>
        </div>

        <div class="col">

            <div class="form-group">
                @Html.Label("address", "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("address", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("tel", "Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("tel", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Meals, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.selectedMealTypeId, new SelectList(Model.Meals, "MealId", "MealName"), "Select Meal Option", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rooms, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.selectedRoomId, new SelectList(Model.Rooms, "roomTypeId", "roomTypeName"), "Select a Room", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="Guests" class="control-label col-md">Number of guests Lodging in:</label>
                <input class="form-control" type="number" id="numberGuests" min="0" max="4" />
            </div>

            <div class="form-group">
                @Html.Label("price", "Price", htmlAttributes: new { @class = "control-label col-md-2 " })
                <div class="col-md-10">
                    @Html.Editor("price", new { htmlAttributes = new { @class = "form-control" }, })
                </div>
            </div>
            <br />
            <div class="form-group">
                <textarea class="roomFeatures" placeholder="Features" rows="5" cols="50" disabled></textarea>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirm Booking" class="btn btn-secondary" id="btnConfirm" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        let BookingsList = [];
        $("#nav-hotel").prop("class", "nav-link active")
        if (localStorage.getItem("Bookings") !== null)
        {
            BookingsList = JSON.parse(localStorage.getItem("Bookings"));
        }
        
        $(document).ready(function () {
            $("#nav-hotel").prop("class", "nav-link active");

            $("#price").prop("disabled", true)
            $("#selectedRoomId").change(function () {
                var selectedroomId = $("#selectedRoomId").val();
                $.get('@Url.Action("getRooms", "Booking")', { hotelId : @ViewBag.selectedhotelId, roomId : selectedroomId })
                    .done(function (data) {
                        var features = data.split("/")[0];
                        var price = data.split("/")[1];
                        $(".roomFeatures").val(features);
                        $("#price").val(price);
                    })
            });

            //CONFIRM BOOKING BTN
            $("#btnConfirm").click((e) =>
            {
                e.preventDefault();
                var jsHotelId = @ViewBag.HotelId;
                var Cus_FName = $("#FirstName").val();
                var Cus_LName = $("#LName").val();
                var Cus_Initials = $("#Initials").val();
                var Cus_email = $("#email").val();
                var Cus_Id_TypeId = $("#selectedIdType").val();
                var Cus_Id_Number = $("#idnumber").val();
                var Cus_DOB = $("#birthday").val();
                var Cus_Address = $("#address").val();
                var Cus_Tel = $("#tel").val();
                var Cus_MealTypeId = $("#selectedMealTypeId").val();
                var Cus_RoomId = $("#selectedRoomId").val();
                var Cus_guests = $("#numberGuests").val();
                var datetime = Date().substring(4, 21);

                $.post('@Url.Action("saveCustomer", "Booking")',
                    {
                        hotelId: jsHotelId, Name: Cus_FName, Surname: Cus_LName, CInitials: Cus_Initials, Cemail: Cus_email, idTypeId: Cus_Id_TypeId,
                        idnumber: Cus_Id_Number, DoB: Cus_DOB, Address: Cus_Address, Tel: Cus_Tel, RoomTypeId: Cus_RoomId, guestNo: Cus_guests,
                        MealTypeID: Cus_MealTypeId, creationDate: datetime
                    }).done((data) =>
                    {
                        BookingsList.push(data);
                        var BookingsListJson = JSON.stringify(BookingsList);
                        localStorage.setItem("Bookings", BookingsListJson);
                        if (data !== null)
                        {
                            window.location.replace('@Url.Action("BookingConfirmed", "Booking")');
                        }

                    })
                })

            })
    </script>
    @Scripts.Render("~/bundles/jqueryval")

}
